In [1]:
import pandas as pd 
import glob
import datetime as dt

In [2]:
file_path = "Horse_Data/Cd_200525_sf.csv"

In [3]:
df_1 = pd.read_csv(file_path)
df_1

,R_RCTrack,R_RCDate,R_RCRace,R_Starters,R_TrackName,R_RaceState,R_Division,R_RaceBred,R_StateBred,R_RaceSex,...,W_Rank_12,W_RankIn_12,W_Race_12,W_DistUnit_12,W_TimeUnit_12,Reserved_379,Reserved_380,Reserved_381,Reserved_382,Reserved_383
0,CD,05/25/2020,1.0,16.0,Churchill Downs,KY,NaN,NaN,NaN,O,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
path = r'C:Horse_Data' # use your path
all_files = glob.glob(path + "/*.csv")

my_list = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    my_list.append(df)

race_data = pd.concat(my_list, axis=0, ignore_index=True)

In [5]:
race_data

,R_RCTrack,R_RCDate,R_RCRace,R_Starters,R_TrackName,R_RaceState,R_Division,R_RaceBred,R_StateBred,R_RaceSex,...,W_Rank_12,W_RankIn_12,W_Race_12,W_DistUnit_12,W_TimeUnit_12,Reserved_379,Reserved_380,Reserved_381,Reserved_382,Reserved_383
0,CD,05/25/2020,1.0,16.0,Churchill Downs,KY,NaN,NaN,NaN,O,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1859,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
race_data_new = race_data.rename(columns = {"R_RCTrack":"tvgtrackcode", 
                                          "R_RCDate": "racedate", 
                                          "R_RCRace": "race", 
                                          "B_ProgNum": "bettinginterestnumber"})

In [7]:
race_data_new

,tvgtrackcode,racedate,race,R_Starters,R_TrackName,R_RaceState,R_Division,R_RaceBred,R_StateBred,R_RaceSex,...,W_Rank_12,W_RankIn_12,W_Race_12,W_DistUnit_12,W_TimeUnit_12,Reserved_379,Reserved_380,Reserved_381,Reserved_382,Reserved_383
0,CD,05/25/2020,1.0,16.0,Churchill Downs,KY,NaN,NaN,NaN,O,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1859,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
dates = pd.to_datetime(pd.Series(race_data_new['racedate']), format = '%m/%d/%Y')
dates.apply(lambda x: x.strftime('%Y-%m-%d'))

ValueError: NaTType does not support strftime

In [ ]:
race_data_new['racedate'].astype(str)

In [ ]:
race_data_new.dtypes

In [ ]:
race_data_new.to_csv("race_data.csv")

In [ ]:
file_path_2 = "results_data - Sheet1.csv"

In [ ]:
df_results = pd.read_csv(file_path_2)
df_results

In [ ]:
df_results['racedate'].astype(str)

In [ ]:
df_results.dtypes

In [ ]:
df_joined = race_data_new.merge(df_results, how = "left", on = ["tvgtrackcode", "racedate", "race", "bettinginterestnumber"])

In [ ]:
df_joined.head(20)

In [ ]:
df_joined.to_csv("joined_horse_data.csv")

In [ ]:
race_data_df = race_data_new[['tvgtrackcode',
                              'racedate',
                              'race',
                             'R_Starters', 
                             'R_TrackName',
                             'bettinginterestnumber',
                              'B_Horse',
                              'B_Jockey',
                              'B_MLOdds',
                              'H_JockMeetWinPct',
                              'H_JockMeetMoneyPct',
                              'H_JockYTDWinPct',
                              'H_TrainerYTDWinPct',
                              'H_TrainerYTDMoneyPct',
                              'S_BestFastDirt',
                              'S_BestTurf',
                               'T_Trainer_1',
                               'T_WinPct_1',
                               'T_WinPct_2',
                               'T_WinPct_3',
                               'T_WinPct_4',
                               'T_WinPct_5',
                              'HR_Beyer_1',
                               'HR_Beyer_2',
                               'HR_Beyer_3',
                               'HR_Beyer_4',
                               'HR_Beyer_5',
                             ]].copy()

In [ ]:
race_data_df