In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import warnings
import math as m
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv(os.path.join('..','Data_to_upload','total.csv'))

In [3]:
len(df)

13750

In [4]:
df = df.drop_duplicates()
len(df)

13477

In [5]:
df['racedater'] =  pd.to_datetime(df['racedater'], format='%Y-%m-%d')
df.dtypes

racedater                     datetime64[ns]
tvgtrackcode                          object
race                                   int64
bettinginterestnumber                  int64
horsename                             object
morninglineodds                      float64
finalodds                             object
tvghorseweight                         int64
tvghorsedamsirename                   object
tvghorseage                            int64
tvghorsesex                           object
tvghorsedaysoff                        int64
tvghorsenumberofwins                   int64
tvghorsenumberofstarts                 int64
tvghorsepowerrating                  float64
tvghorseaveragespeed                   int64
tvghorseaverageclassrating             int64
currentodds                          float64
winpayout                            float64
placepayout                          float64
showpayout                           float64
scratched                              int64
won                                    int64
dtype: object

In [6]:
df.sort_values('racedater').head()

,racedater,tvgtrackcode,race,bettinginterestnumber,horsename,morninglineodds,finalodds,tvghorseweight,tvghorsedamsirename,tvghorseage,...,tvghorsenumberofstarts,tvghorsepowerrating,tvghorseaveragespeed,tvghorseaverageclassrating,currentodds,winpayout,placepayout,showpayout,scratched,won
236,2018-05-01,cd,1,5,pearl's opinion,2.5,1.2,118,deputy minister,3,...,2,70.9,72,81,1.2,4.6,3.2,3.0,0,1
570,2018-05-01,cd,2,1,runabout,12.0,25,118,el corredor,3,...,3,65.7,49,73,25.0,0.0,0.0,0.0,0,0
65,2018-05-01,cd,6,1,kowboy posse,6.0,2.5,116,cahill road,3,...,7,63.6,67,82,2.5,7.4,4.0,3.0,0,1
64,2018-05-01,cd,6,11,chasingthegame,30.0,60,116,action this day,3,...,1,36.8,26,73,60.0,0.0,0.0,0.0,0,0
63,2018-05-01,cd,6,12,arch you ready,20.0,40,116,monarchos,3,...,2,42.8,41,71,40.0,0.0,10.6,10.8,0,0

In [7]:
features = [
    'tvghorseweight', 
    'tvghorseage', 
    'tvghorsedaysoff', 
    'tvghorsenumberofwins', 
    'tvghorsepowerrating', 
    'tvghorseaverageclassrating',
    'tvghorseaveragespeed',
    'currentodds'
]
target = 'won'

In [8]:
len(df)

13477

In [9]:
from datetime import datetime as dt
dt(2018,5,2).strftime("%Y-%m-%d")

'2018-05-02'

In [10]:
from datetime import datetime as dt
start_date = dt(2018,5,2).strftime("%Y-%m-%d")
end_date = dt(2020,5,31).strftime("%Y-%m-%d")

train = df[(df['racedater'] > start_date) & (df['racedater'] <= end_date)]
train = train.sort_values('racedater')
print(len(train))
train = train.drop_duplicates()
train

12197

,racedater,tvgtrackcode,race,bettinginterestnumber,horsename,morninglineodds,finalodds,tvghorseweight,tvghorsedamsirename,tvghorseage,...,tvghorsenumberofstarts,tvghorsepowerrating,tvghorseaveragespeed,tvghorseaverageclassrating,currentodds,winpayout,placepayout,showpayout,scratched,won
66,2018-05-03,cd,1,6,toothpic,3.0,3.5,118,housebuster,3,...,4,75.7,69,82,3.5,0.0,0.0,2.2,0,0
252,2018-05-03,cd,8,9,royal son,12.0,8,122,a.p. indy,6,...,7,115.0,106,107,8.0,0.0,0.0,0.0,0,0
251,2018-05-03,cd,7,2,big coulee,15.0,9,118,bates motel,5,...,12,73.5,76,89,9.0,0.0,0.0,0.0,0,0
250,2018-05-03,cd,7,3,sunny's rainbow,3.5,2.5,111,gilded time,5,...,17,94.5,90,96,2.5,0.0,0.0,0.0,0,0
249,2018-05-03,cd,7,4,mr. freud,20.0,18,123,forty niner,8,...,28,76.0,87,98,18.0,0.0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13406,2020-05-31,cd,8,7,secure connection,6.0,5,118,arch,3,...,3,82.9,75,81,5.0,0.0,0.0,0.0,0,0
13405,2020-05-31,cd,8,6,first course,15.0,21,118,dynaformer,3,...,2,74.4,68,81,21.0,0.0,0.0,0.0,0,0
13404,2020-05-31,cd,8,5,elusive ride,15.0,35,118,candy ride (arg),3,...,0,58.7,63,80,35.0,0.0,0.0,0.0,0,0
13426,2020-05-31,cd,10,7,vasariano,12.0,13,118,unbridled's song,3,...,0,61.4,76,95,13.0,0.0,0.0,0.0,0,0
13555,2020-05-31,cd,5,9,jeweled princess,3.5,4,118,scat daddy,3,...,5,84.2,75,87,4.0,0.0,0.0,3.4,0,0

In [11]:
test = df[(df['racedater'] > end_date)]
test = test.sort_values(['racedater','race'])
print(len(test))
test = test.drop_duplicates()
test

1135

,racedater,tvgtrackcode,race,bettinginterestnumber,horsename,morninglineodds,finalodds,tvghorseweight,tvghorsedamsirename,tvghorseage,...,tvghorsenumberofstarts,tvghorsepowerrating,tvghorseaveragespeed,tvghorseaverageclassrating,currentodds,winpayout,placepayout,showpayout,scratched,won
12810,2020-06-04,cd,1,1,french rose,4.0,4,118,medaglia d'oro,3,...,6,74.0,70,84,4.0,0.0,0.0,3.8,0,0
12811,2020-06-04,cd,1,2,foreign exchange,2.0,2,120,giant's causeway,3,...,6,76.4,66,83,2.0,0.0,0.0,0.0,0,0
12812,2020-06-04,cd,1,3,trafficiskillingme,8.0,21,118,mr. easy money,3,...,3,70.2,66,72,21.0,0.0,0.0,0.0,0,0
12813,2020-06-04,cd,1,5,dehydration,4.0,3.5,118,act of war,3,...,3,71.4,63,74,3.5,9.8,5.6,3.2,0,1
12814,2020-06-04,cd,1,6,heart river,12.0,13,118,proud citizen,3,...,5,62.8,63,72,13.0,0.0,10.2,5.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13530,2020-06-27,cd,11,5,crystal cliffs (fr),3.0,6/5,118,lord of england (ger),3,...,1,94.9,97,90,1.2,0.0,3.2,3.0,0,0
13532,2020-06-27,cd,11,6,micheline,8.0,10,118,include,3,...,7,89.3,78,88,10.0,0.0,0.0,0.0,0,0
13534,2020-06-27,cd,11,7,edgee angel,20.0,99,118,fusaichi pegasus,3,...,4,75.3,66,80,99.0,0.0,0.0,0.0,0,0
13536,2020-06-27,cd,11,8,wexx,20.0,80,118,horse chestnut (saf),3,...,7,90.9,82,87,80.0,0.0,0.0,0.0,0,0
13538,2020-06-27,cd,11,9,eve of war,12.0,17,118,broken vow,3,...,2,95.6,89,91,17.0,0.0,0.0,0.0,0,0

In [12]:
X_train = train[features]
y_train = train[target].values.reshape(-1,1)

In [13]:
X_test = test[features]
y_test = test[target].values.reshape(-1,1)

# Machine Learning Models

## SVM

### Training the SVM model and finding a score

In [14]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, balanced_accuracy_score, average_precision_score

# Creating and fitting the model with the training dataset
# Choosing the sigmoid kernal
model_svm = SVC(kernel='sigmoid')
model_svm.fit(X_train, y_train)

# Finding the predicted values based on the X test dataset 
y_pred_svm = model_svm.predict(X_test)

# Finding the r2 score 
test_score_svm = model_svm.score(X_test, y_test)
# Finding the accuracy score
accuracy_score_svm = accuracy_score(y_test, y_pred_svm)
# Finding the balanced accuracy score
bal_acc_score_svm = balanced_accuracy_score(y_test, y_pred_svm)
# Finding the average precision score  
avg_prec_score_svm = average_precision_score(y_test, y_pred_svm)


print(f'''
R\u00b2 Score:                 {100*round(test_score_svm,4)}%
Predicted accuracy score: {100*round(accuracy_score_svm,4)}%
Balanced accuracy score:  {100*round(bal_acc_score_svm,4)}%
Avg precision score:      {100*round(avg_prec_score_svm,4)}%
''')

R² Score:                 84.76%
Predicted accuracy score: 84.76%
Balanced accuracy score:  48.83%
Avg precision score:      11.24%

### SVM Classification Report

In [15]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred_svm,
                            target_names=["lost", "won"]))

              precision    recall  f1-score   support

        lost       0.88      0.95      0.92      1006
         won       0.06      0.02      0.03       129

    accuracy                           0.85      1135
   macro avg       0.47      0.49      0.48      1135
weighted avg       0.79      0.85      0.82      1135

## XGBoost

### Training the XGBoost Classifier and finding a score

In [16]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, balanced_accuracy_score, average_precision_score, r2_score
# Creating and fitting the model with the training dataset
model_XGB = XGBClassifier()
model_XGB.fit(X_train, y_train)

# Finding the predicted values based on the X test dataset
y_pred_XGB = model_XGB.predict(X_test)

# Finding the r2 score 
r2_score_XGB = r2_score(y_test, y_pred_XGB)
# Finding the accuracy score 
accuracy_score_XGB = accuracy_score(y_test, y_pred_XGB)
# Finding the balanced accuracy score
bal_acc_score_XGB = balanced_accuracy_score(y_test, y_pred_XGB)
# Finding average precision r2 score 
avg_prec_score_XGB = average_precision_score(y_test, y_pred_XGB)


print(f'''
R\u00b2 Score:                {100*round(r2_score_XGB,4)}%
Predicted accuracy score: {100*round(accuracy_score_XGB,3)}%
Balanced accuracy score:  {100*round(bal_acc_score_XGB,4)}%
Avg precision score:      {100*round(avg_prec_score_XGB,4)}%
''')

R² Score:                -19.82%
Predicted accuracy score: 87.9%
Balanced accuracy score:  53.66%
Avg precision score:      13.8%

### XGBoost Classification Report

In [17]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred_XGB,
                            target_names=["lost", "won"]))

              precision    recall  f1-score   support

        lost       0.89      0.98      0.94      1006
         won       0.38      0.09      0.15       129

    accuracy                           0.88      1135
   macro avg       0.63      0.54      0.54      1135
weighted avg       0.83      0.88      0.85      1135

## Naive-Bayes Gaussian Classifier

### Training the Naive-Bayes Gaussian model and finding a score

In [18]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, balanced_accuracy_score, average_precision_score, r2_score
# Creating and fitting the model with the training dataset
model_nb = GaussianNB()
model_nb.fit(X_train, y_train)

# Finding the predicted values based on the X test dataset
y_pred_nb = model_nb.predict(X_test)

# Finding the r2 score 
test_score_nb = model_nb.score(X_test, y_test)
# Finding the accuracy score 
accuracy_score_nb = accuracy_score(y_test, y_pred_nb)
# Finding balanced accuracy score 
bal_acc_score_nb = balanced_accuracy_score(y_test, y_pred_nb)
# Finding the average precision score 
avg_prec_score_nb = average_precision_score(y_test, y_pred_nb)

print(f'''
R\u00b2 Score:                {100*round(test_score_nb,4)}%
Accuracy Score:          {100*round(accuracy_score_nb,4)}%
Balance Accuracy Score:  {100*round(bal_acc_score_nb,6)}%
Average Precision Score: {100*round(avg_prec_score_nb,6)}%
''')

R² Score:                84.93%
Accuracy Score:          84.93%
Balance Accuracy Score:  53.994600000000005%
Average Precision Score: 12.9998%

### Naive-Bayes Classification Report

In [19]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred_nb,
                            target_names=["lost", "won"]))

              precision    recall  f1-score   support

        lost       0.89      0.94      0.92      1006
         won       0.23      0.14      0.17       129

    accuracy                           0.85      1135
   macro avg       0.56      0.54      0.55      1135
weighted avg       0.82      0.85      0.83      1135

# Exporting the results as DataFrames

In [20]:
test_copy = test.copy()

In [21]:
test_copy.columns

Index(['racedater', 'tvgtrackcode', 'race', 'bettinginterestnumber',
       'horsename', 'morninglineodds', 'finalodds', 'tvghorseweight',
       'tvghorsedamsirename', 'tvghorseage', 'tvghorsesex', 'tvghorsedaysoff',
       'tvghorsenumberofwins', 'tvghorsenumberofstarts', 'tvghorsepowerrating',
       'tvghorseaveragespeed', 'tvghorseaverageclassrating', 'currentodds',
       'winpayout', 'placepayout', 'showpayout', 'scratched', 'won'],
      dtype='object')

In [22]:
cols = [
    'racedater',
    'horsename',
    'tvghorseweight', 
    'tvghorseage', 
    'tvghorsedaysoff', 
    'tvghorsenumberofwins', 
    'tvghorsepowerrating', 
    'tvghorseaverageclassrating',
    'tvghorseaveragespeed',
    'currentodds',
    'won'
]
test_copy = test_copy[cols]
test_copy.head()

,racedater,horsename,tvghorseweight,tvghorseage,tvghorsedaysoff,tvghorsenumberofwins,tvghorsepowerrating,tvghorseaverageclassrating,tvghorseaveragespeed,currentodds,won
12810,2020-06-04,french rose,118,3,18,2,74.0,84,70,4.0,0
12811,2020-06-04,foreign exchange,120,3,32,2,76.4,83,66,2.0,0
12812,2020-06-04,trafficiskillingme,118,3,92,0,70.2,72,66,21.0,0
12813,2020-06-04,dehydration,118,3,55,1,71.4,74,63,3.5,1
12814,2020-06-04,heart river,118,3,17,1,62.8,72,63,13.0,0

In [23]:
cols_replace = {
    'racedater':'Date',
    'horsename':'Horse Name',
    'tvghorseweight':'Horse Weight', 
    'tvghorseage':'Horse Age', 
    'tvghorsedaysoff':'Days Off', 
    'tvghorsenumberofwins':'Number of Wins', 
    'tvghorsepowerrating':'Power Rating', 
    'tvghorseaverageclassrating':'Average Class Rating',
    'tvghorseaveragespeed':'Average Speed',
    'currentodds':'Current Odds',
    'won':'Won Actual'
}

In [24]:
test_copy.rename(columns = cols_replace, inplace=True)
test_copy.tail()

,Date,Horse Name,Horse Weight,Horse Age,Days Off,Number of Wins,Power Rating,Average Class Rating,Average Speed,Current Odds,Won Actual
13530,2020-06-27,crystal cliffs (fr),118,3,26,1,94.9,90,97,1.2,0
13532,2020-06-27,micheline,118,3,55,3,89.3,88,78,10.0,0
13534,2020-06-27,edgee angel,118,3,40,0,75.3,80,66,99.0,0
13536,2020-06-27,wexx,118,3,33,1,90.9,87,82,80.0,0
13538,2020-06-27,eve of war,118,3,34,1,95.6,91,89,17.0,0

In [25]:
test_copy['Won SVM'] = y_pred_svm
test_copy['Won XGBoost'] = y_pred_XGB
test_copy['Won Naive-Bayes'] = y_pred_nb
test_copy

,Date,Horse Name,Horse Weight,Horse Age,Days Off,Number of Wins,Power Rating,Average Class Rating,Average Speed,Current Odds,Won Actual,Won SVM,Won XGBoost,Won Naive-Bayes
12810,2020-06-04,french rose,118,3,18,2,74.0,84,70,4.0,0,0,0,0
12811,2020-06-04,foreign exchange,120,3,32,2,76.4,83,66,2.0,0,0,0,0
12812,2020-06-04,trafficiskillingme,118,3,92,0,70.2,72,66,21.0,0,0,0,0
12813,2020-06-04,dehydration,118,3,55,1,71.4,74,63,3.5,1,0,0,0
12814,2020-06-04,heart river,118,3,17,1,62.8,72,63,13.0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13530,2020-06-27,crystal cliffs (fr),118,3,26,1,94.9,90,97,1.2,0,0,0,0
13532,2020-06-27,micheline,118,3,55,3,89.3,88,78,10.0,0,0,0,0
13534,2020-06-27,edgee angel,118,3,40,0,75.3,80,66,99.0,0,0,0,0
13536,2020-06-27,wexx,118,3,33,1,90.9,87,82,80.0,0,0,0,0
13538,2020-06-27,eve of war,118,3,34,1,95.6,91,89,17.0,0,0,0,0

In [26]:
# Create dataframes for each ML model used following

# mw == machine won
# ml == machine lost
# aw == actual won
# al == actual lost

# MW | MW
# AW | AL
# ------
# ML| ML
# AW | AL

In [27]:
svm_mw_aw = test_copy.loc[(test_copy['Won Actual'] == 1) & (test_copy['Won SVM'] == 1)].drop_duplicates()
svm_mw_al = test_copy.loc[(test_copy['Won Actual'] == 0) & (test_copy['Won SVM'] == 1)].drop_duplicates()
svm_ml_aw = test_copy.loc[(test_copy['Won Actual'] == 1) & (test_copy['Won SVM'] == 0)].drop_duplicates()
svm_ml_al = test_copy.loc[(test_copy['Won Actual'] == 0) & (test_copy['Won SVM'] == 0)].drop_duplicates()

xgb_mw_aw = test_copy.loc[(test_copy['Won Actual'] == 1) & (test_copy['Won XGBoost'] == 1)].drop_duplicates()
xgb_mw_al = test_copy.loc[(test_copy['Won Actual'] == 0) & (test_copy['Won XGBoost'] == 1)].drop_duplicates()
xgb_ml_aw = test_copy.loc[(test_copy['Won Actual'] == 1) & (test_copy['Won XGBoost'] == 0)].drop_duplicates()
xgb_ml_al = test_copy.loc[(test_copy['Won Actual'] == 0) & (test_copy['Won XGBoost'] == 0)].drop_duplicates()

nb_mw_aw = test_copy.loc[(test_copy['Won Actual'] == 1) & (test_copy['Won Naive-Bayes'] == 1)].drop_duplicates()
nb_mw_al = test_copy.loc[(test_copy['Won Actual'] == 0) & (test_copy['Won Naive-Bayes'] == 1)].drop_duplicates()
nb_ml_aw = test_copy.loc[(test_copy['Won Actual'] == 1) & (test_copy['Won Naive-Bayes'] == 0)].drop_duplicates()
nb_ml_al = test_copy.loc[(test_copy['Won Actual'] == 0) & (test_copy['Won Naive-Bayes'] == 0)].drop_duplicates()

In [28]:
svm_mw_aw.to_csv(os.path.join('..','Data_to_upload','svm_mw_aw.csv'),index=False)

In [29]:
svm_mw_al.to_csv(os.path.join('..','Data_to_upload','svm_mw_al.csv'),index=False)

In [30]:
svm_ml_aw.to_csv(os.path.join('..','Data_to_upload','svm_ml_aw.csv'),index=False)

In [31]:
svm_ml_al.to_csv(os.path.join('..','Data_to_upload','svm_ml_al.csv'),index=False)

In [32]:
xgb_mw_aw.to_csv(os.path.join('..','Data_to_upload','xgb_mw_aw.csv'),index=False)

In [33]:
xgb_mw_al.to_csv(os.path.join('..','Data_to_upload','xgb_mw_al.csv'),index=False)

In [34]:
xgb_ml_aw.to_csv(os.path.join('..','Data_to_upload','xgb_ml_aw.csv'),index=False)

In [35]:
xgb_ml_al.to_csv(os.path.join('..','Data_to_upload','xgb_ml_al.csv'),index=False)

In [36]:
nb_mw_aw.to_csv(os.path.join('..','Data_to_upload','nb_mw_aw.csv'),index=False)

In [37]:
nb_mw_al.to_csv(os.path.join('..','Data_to_upload','nb_mw_al.csv'),index=False)

In [38]:
nb_ml_aw.to_csv(os.path.join('..','Data_to_upload','nb_ml_aw.csv'),index=False)

In [39]:
nb_ml_al.to_csv(os.path.join('..','Data_to_upload','nb_ml_al.csv'),index=False)