In [1]:
import pandas as pd

In [5]:
fullcard = pd.read_csv("../Data/Op_200502_r.csv")

In [7]:
fullcard

,RCTrack,RCDate,RCRace,Starters,TrackName,RaceState,Division,RaceBred,StateBred,RaceSex,...,SimTrack,SimRace,TrackRecord,DayOfWeek,PostTime,LongClass,TrkAbbrev,DistUnit,TimeUnit,Conditions
0,OP,05/02/2020,1,12,Oaklawn Park,AR,NaN,NaN,NaN,M,...,NaN,0,107.8,Saturday,12:00,Alw 40000s,Oaklawn Park,NaN,H,"STARTER ALLOWANCE. Purse $32,000 FOR FILLIES ..."
1,OP,05/02/2020,2,14,Oaklawn Park,AR,NaN,NaN,NaN,F,...,NaN,0,107.8,Saturday,12:32,Md Sp Wt 60k,Oaklawn Park,NaN,H,"MAIDEN SPECIAL WEIGHT. Purse $60,000 FOR MAID..."
2,OP,05/02/2020,3,14,Oaklawn Park,AR,NaN,NaN,S,O,...,NaN,0,107.8,Saturday,1:04,Alw 61000N$Y,Oaklawn Park,NaN,H,"ALLOWANCE. Purse $61,000 FOR ARKANSAS BRED (W..."
3,OP,05/02/2020,4,14,Oaklawn Park,AR,NaN,NaN,NaN,O,...,NaN,0,107.8,Saturday,1:36,Md Sp Wt 60k,Oaklawn Park,NaN,H,"MAIDEN SPECIAL WEIGHT. Purse $60,000 FOR MAID..."
4,OP,05/02/2020,5,13,Oaklawn Park,AR,NaN,NaN,NaN,O,...,NaN,0,140.2,Saturday,2:10,OC 75k/C,Oaklawn Park,NaN,H,"ALLOWANCE OPTIONAL CLAIMING. Purse $62,000 FO..."
5,OP,05/02/2020,6,14,Oaklawn Park,AR,NaN,NaN,NaN,O,...,NaN,0,146.6,Saturday,2:44,Md Sp Wt 60k,Oaklawn Park,NaN,H,"MAIDEN SPECIAL WEIGHT. Purse $60,000 FOR MAID..."
6,OP,05/02/2020,7,14,Oaklawn Park,AR,NaN,NaN,NaN,F,...,NaN,0,140.2,Saturday,3:16,OC 100k/C,Oaklawn Park,NaN,H,"ALLOWANCE OPTIONAL CLAIMING. Purse $61,000 FO..."
7,OP,05/02/2020,8,14,Oaklawn Park,AR,NaN,NaN,NaN,O,...,NaN,0,140.2,Saturday,3:47,Alw 61000N$Y,Oaklawn Park,NaN,H,"ALLOWANCE. Purse $61,000 FOR THREE YEAR OLDS ..."
8,OP,05/02/2020,9,14,Oaklawn Park,AR,NaN,NaN,NaN,O,...,NaN,0,140.2,Saturday,4:19,OC 40k/N$Y,Oaklawn Park,NaN,H,"ALLOWANCE OPTIONAL CLAIMING. Purse $62,000 FO..."
9,OP,05/02/2020,10,14,Oaklawn Park,AR,NaN,NaN,NaN,O,...,NaN,0,140.2,Saturday,4:54,OC 80k/N$Y,Oaklawn Park,NaN,H,"ALLOWANCE OPTIONAL CLAIMING. Purse $61,000 FO..."
10,OP,05/02/2020,11,11,Oaklawn Park,AR,NaN,NaN,NaN,O,...,NaN,0,146.6,Saturday,5:29,ArkDerby-G1,Oaklawn Park,NaN,H,"ARKANSAS DERBY. Purse $500,000 THREE YEAR OLD..."
11,OP,05/02/2020,12,14,Oaklawn Park,AR,NaN,NaN,NaN,O,...,NaN,0,146.6,Saturday,6:04,OaklawnH-G2,Oaklawn Park,NaN,H,"OAKLAWN H.. Purse $600,000 FOUR YEAR OLDS AND..."
12,OP,05/02/2020,13,11,Oaklawn Park,AR,NaN,NaN,NaN,O,...,NaN,0,146.6,Saturday,6:43,ArkDerby-G1,Oaklawn Park,NaN,H,"ARKANSAS DERBY. Purse $500,000 THREE YEAR OLD..."
13,OP,05/02/2020,14,14,Oaklawn Park,AR,NaN,NaN,NaN,O,...,NaN,0,258.0,Saturday,7:14,Alw 10000s,Oaklawn Park,NaN,H,"STARTER ALLOWANCE. Purse $50,000 FOR THREE YE..."

In [8]:
for col in fullcard.columns: 
    print(col)

RCTrack
RCDate
RCRace
Starters
TrackName
RaceState
Division
RaceBred
StateBred
RaceSex
RaceAge
Class
Purse
HiClaim
LoClaim
Distance
Inner
Surface
RaceType
GradedRace
GradedRaceDesc
SimTrack
SimRace
TrackRecord
DayOfWeek
PostTime
LongClass
TrkAbbrev
DistUnit
TimeUnit
Conditions

In [20]:
slim_df = fullcard.drop(columns=[
'TrackName',
'RCTrack',
'RCDate',
'RaceState',
'Division',
'Class',
'RaceBred',
'StateBred',
'RaceSex',
'RaceAge',
'HiClaim',
'LoClaim',
'Inner',
'GradedRace',
'GradedRaceDesc',
'SimTrack',
    'RaceType',
'SimRace',
'TrackRecord',
'DayOfWeek',
'TrkAbbrev',
'DistUnit','TimeUnit'])

In [21]:
slim_df

,RCRace,Starters,Purse,Distance,Surface,PostTime,LongClass,Conditions
0,1,12,32.0,6.0,D,12:00,Alw 40000s,"STARTER ALLOWANCE. Purse $32,000 FOR FILLIES ..."
1,2,14,60.0,6.0,D,12:32,Md Sp Wt 60k,"MAIDEN SPECIAL WEIGHT. Purse $60,000 FOR MAID..."
2,3,14,61.0,6.0,D,1:04,Alw 61000N$Y,"ALLOWANCE. Purse $61,000 FOR ARKANSAS BRED (W..."
3,4,14,60.0,6.0,D,1:36,Md Sp Wt 60k,"MAIDEN SPECIAL WEIGHT. Purse $60,000 FOR MAID..."
4,5,13,62.0,8.5,D,2:10,OC 75k/C,"ALLOWANCE OPTIONAL CLAIMING. Purse $62,000 FO..."
5,6,14,60.0,9.0,D,2:44,Md Sp Wt 60k,"MAIDEN SPECIAL WEIGHT. Purse $60,000 FOR MAID..."
6,7,14,61.0,8.5,D,3:16,OC 100k/C,"ALLOWANCE OPTIONAL CLAIMING. Purse $61,000 FO..."
7,8,14,61.0,8.5,D,3:47,Alw 61000N$Y,"ALLOWANCE. Purse $61,000 FOR THREE YEAR OLDS ..."
8,9,14,62.0,8.5,D,4:19,OC 40k/N$Y,"ALLOWANCE OPTIONAL CLAIMING. Purse $62,000 FO..."
9,10,14,61.0,8.5,D,4:54,OC 80k/N$Y,"ALLOWANCE OPTIONAL CLAIMING. Purse $61,000 FO..."
10,11,11,500.0,9.0,D,5:29,ArkDerby-G1,"ARKANSAS DERBY. Purse $500,000 THREE YEAR OLD..."
11,12,14,600.0,9.0,D,6:04,OaklawnH-G2,"OAKLAWN H.. Purse $600,000 FOUR YEAR OLDS AND..."
12,13,11,500.0,9.0,D,6:43,ArkDerby-G1,"ARKANSAS DERBY. Purse $500,000 THREE YEAR OLD..."
13,14,14,50.0,14.0,D,7:14,Alw 10000s,"STARTER ALLOWANCE. Purse $50,000 FOR THREE YE..."

In [26]:
slim_df['Purse'] = slim_df['Purse']*10

In [27]:
slim_df

,RCRace,Starters,Purse,Distance,Surface,PostTime,LongClass,Conditions
0,1,12,32000.0,6.0,D,12:00,Alw 40000s,"STARTER ALLOWANCE. Purse $32,000 FOR FILLIES ..."
1,2,14,60000.0,6.0,D,12:32,Md Sp Wt 60k,"MAIDEN SPECIAL WEIGHT. Purse $60,000 FOR MAID..."
2,3,14,61000.0,6.0,D,1:04,Alw 61000N$Y,"ALLOWANCE. Purse $61,000 FOR ARKANSAS BRED (W..."
3,4,14,60000.0,6.0,D,1:36,Md Sp Wt 60k,"MAIDEN SPECIAL WEIGHT. Purse $60,000 FOR MAID..."
4,5,13,62000.0,8.5,D,2:10,OC 75k/C,"ALLOWANCE OPTIONAL CLAIMING. Purse $62,000 FO..."
5,6,14,60000.0,9.0,D,2:44,Md Sp Wt 60k,"MAIDEN SPECIAL WEIGHT. Purse $60,000 FOR MAID..."
6,7,14,61000.0,8.5,D,3:16,OC 100k/C,"ALLOWANCE OPTIONAL CLAIMING. Purse $61,000 FO..."
7,8,14,61000.0,8.5,D,3:47,Alw 61000N$Y,"ALLOWANCE. Purse $61,000 FOR THREE YEAR OLDS ..."
8,9,14,62000.0,8.5,D,4:19,OC 40k/N$Y,"ALLOWANCE OPTIONAL CLAIMING. Purse $62,000 FO..."
9,10,14,61000.0,8.5,D,4:54,OC 80k/N$Y,"ALLOWANCE OPTIONAL CLAIMING. Purse $61,000 FO..."
10,11,11,500000.0,9.0,D,5:29,ArkDerby-G1,"ARKANSAS DERBY. Purse $500,000 THREE YEAR OLD..."
11,12,14,600000.0,9.0,D,6:04,OaklawnH-G2,"OAKLAWN H.. Purse $600,000 FOUR YEAR OLDS AND..."
12,13,11,500000.0,9.0,D,6:43,ArkDerby-G1,"ARKANSAS DERBY. Purse $500,000 THREE YEAR OLD..."
13,14,14,50000.0,14.0,D,7:14,Alw 10000s,"STARTER ALLOWANCE. Purse $50,000 FOR THREE YE..."

In [31]:
slim_df['Purse'] = slim_df['Purse'].apply(lambda x: "${:.1f}k".format((x/1000)))

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [33]:
slim_df

,RCRace,Starters,Purse,Distance,Surface,PostTime,LongClass,Conditions
0,1,12,$32.0k,6.0,D,12:00,Alw 40000s,"STARTER ALLOWANCE. Purse $32,000 FOR FILLIES ..."
1,2,14,$60.0k,6.0,D,12:32,Md Sp Wt 60k,"MAIDEN SPECIAL WEIGHT. Purse $60,000 FOR MAID..."
2,3,14,$61.0k,6.0,D,1:04,Alw 61000N$Y,"ALLOWANCE. Purse $61,000 FOR ARKANSAS BRED (W..."
3,4,14,$60.0k,6.0,D,1:36,Md Sp Wt 60k,"MAIDEN SPECIAL WEIGHT. Purse $60,000 FOR MAID..."
4,5,13,$62.0k,8.5,D,2:10,OC 75k/C,"ALLOWANCE OPTIONAL CLAIMING. Purse $62,000 FO..."
5,6,14,$60.0k,9.0,D,2:44,Md Sp Wt 60k,"MAIDEN SPECIAL WEIGHT. Purse $60,000 FOR MAID..."
6,7,14,$61.0k,8.5,D,3:16,OC 100k/C,"ALLOWANCE OPTIONAL CLAIMING. Purse $61,000 FO..."
7,8,14,$61.0k,8.5,D,3:47,Alw 61000N$Y,"ALLOWANCE. Purse $61,000 FOR THREE YEAR OLDS ..."
8,9,14,$62.0k,8.5,D,4:19,OC 40k/N$Y,"ALLOWANCE OPTIONAL CLAIMING. Purse $62,000 FO..."
9,10,14,$61.0k,8.5,D,4:54,OC 80k/N$Y,"ALLOWANCE OPTIONAL CLAIMING. Purse $61,000 FO..."
10,11,11,$500.0k,9.0,D,5:29,ArkDerby-G1,"ARKANSAS DERBY. Purse $500,000 THREE YEAR OLD..."
11,12,14,$600.0k,9.0,D,6:04,OaklawnH-G2,"OAKLAWN H.. Purse $600,000 FOUR YEAR OLDS AND..."
12,13,11,$500.0k,9.0,D,6:43,ArkDerby-G1,"ARKANSAS DERBY. Purse $500,000 THREE YEAR OLD..."
13,14,14,$50.0k,14.0,D,7:14,Alw 10000s,"STARTER ALLOWANCE. Purse $50,000 FOR THREE YE..."

In [32]:
##Done